@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather+Sans:ital,wght@0,600;1,600&display=swap');
body{
    font-family: 'Inter', sans-serif;
    /* font-family: 'Merriweather Sans', sans-serif; */
}


header{
    width: 101%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgb(187, 187, 187, 70%);
    height: 45px;
    margin-bottom: 40px;
}

.menuContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 100%;
}

.logo{
    font-size: 30px;
    font-weight: bold;
}

.elementsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.menuItem{
    margin: 2px;
    padding:5px 10px;
    list-style: none;
    font-size: 15px;
    cursor: pointer;
    opacity: 70%;
    transition:0.5s;
    border-radius: 2px;
}
.selectedItem{
    color: #2E245E;
    opacity: 100%;
    background-color: #F5F5F5;
}
.menuItem:hover{
    background-color: #2E245E;
    opacity: 100%;
    color:white;

}
/* .menuItem:focus{
    background-color: #2E245E;
    opacity: 100%;
    color: white;

}não funcionaaaaaaaaaaaaaaaaa */

main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    width:100%;
    max-width: 1200px;
    margin:0 auto;
}

.vitrine{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 70%;


}
.card{
    border: solid #F5F5F5 2px;
    height: 350px;
    width: 240px;
    margin: 0 25px 15px 0;
    transition: 0.5s;
}
.card:hover{
    border: solid #2E245E 2px;
}
.card img{
    width: 100%;
    background-color: #F5F5F5;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding:5px;
    margin:0;
}
.info .tag{
    background-color: #2E245E;
    padding:5px 5px;
    border-radius: 2px;
    color:white;
    font-size: 10px;
}
.nameItem, .description, .value, .addToCar{
    margin: 7px;
}

.nameItem{
    font-size: 16px;
    font-weight: bold;
}

.description{
    font-size: 12px;
}
.value{
    font-weight: bold;
}

.addToCar{
    border-radius: 2px;
    cursor: pointer;
    padding: 2px;
    transition: 2ms;
}
.addToCar:hover{
    background-color: #2E245E;
    color:white;
}

/* Aside */

.aside{
    width: 25%;
    min-width: 209px;
}

form{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

input, button{
    border-radius: 0;
    border: none;

}

.input{
    height: 30px;
    width: 70%;
    background-color: #F5F5F5;
}
/* .input:focus{
    border-radius: 0;
    border:#37268C solid 2px;
} */

.btnSearch{
    width: 28%;
    background-color: #37268C;
    color:white;
    cursor: pointer;
}

.cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #37268C;
    height: 35px;
    color:white;
    font-size: 20px;
}

.produtosCarrinhoVazio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    min-height: 150px;
    background-color: #F5F5F5;
}
div.avisoCarrinho{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div.avisoCarrinho h1{
    font-size: 20px;
    font-weight: bold;
}

.produtosCarrinhoCheio{
    display: flex;
    flex-direction: column;
    padding: 5px;
    min-height: 200px;
    max-height: 280px;
    background-color: #F5F5F5;
}

.carrinhoScroll{
    overflow-y: scroll;
}

li.itemCarrinho{
    padding: 10px;
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 1px;
    
}

img.imgCar{
    background-color: white;
    width: 25%;
    margin-right: 15px;
}

.itemCarInfo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.itemCarName, .itemCarPrice{
    margin-bottom: 10px;
}
.itemCarName{
    font-size: 15px;
}

.itemCarPrice{
    font-size: 12px;
}

button.btnRemove{
    background-color: #e0e0e0;
    border-radius: 2px;
    transition: 0.5s
}

button.btnRemove:hover{
    background-color: rgba(238, 62, 62, 0.738);
}



